@{
    ViewData["Title"] = "Home Page";
    var compras = (List<Compras>) ViewBag.compras;
}

@model List<Compras>

    <div class="container">
        <div class="row">
                <div class="col-sm">
                        <div class="text-center">
                                <h1 style="color: green">Lista de Compras</h1>
                        </div>
                </div>
        </div>
        <div class="fondoIndex">
            <div class="row">
                @if(compras.Count==0){
                    <div class="col-sm-12">
                        <h2 style="color: red" class="text-center">No hay compras registradas</h2>
                    </div>
                }
                else{  
                        <div style="margin-top: 10px;margin-bottom: 10px" class="col-sm-12">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Producto/th>
                                        <th scope="col">Precio unitario</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Monto Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var c in compras){
                                            <tr>
                                                <th scope="row">@c.IdCompra</th>
                                                <td>@c.Nombres</td>
                                                <td>@c.Apellidos</td>
                                                <td>@c.Producto.Nombre</td>
                                                <td>@c.Producto.Precio</td>
                                                <td>@c.Cantidad</td>
                                                <td>@c.TotalMonto</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                        </div>
                    
                }
            </div>
        </div>             
    </div>

