@{
    var producto = (List<Producto>)ViewBag.p;
    var categoria = (List<Categoria>)ViewBag.c;
}

@model List<Producto>

<div class="container">
    <form asp-action="Index" method="Get">
        <div class="row">
            <div class="col-sm-2.4 mr-4">
                <label>Categoría</label>
                <select name="categoria" id="" class="form-control" style="width:300px;">
                    <option value="0">Seleccionar</option>
                    @foreach (var c in categoria){
                        <option value="@c.Id"> @c.Nombre </option>
                    }
                </select>
            </div> 
            <div class="col-sm-2.4">
                <div style="text-align: center; padding: 15px">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Mostrar</button>
                </div> 
            </div>
        </div>
    </form>
</div>

<div class="text-center">
    <p>
        @TempData["Validacion"]
    </p>  
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <h2>Categorías</h2>
                <hr>
            </div>
        </div>
    </div>
    @if(producto.Count==0){
        <h2 style="color: red" class="text-center">Preparando platillos...</h2>
    } 
    else{
            <div class="row">
                @foreach(var p in producto){
                    <div class="col-md-4">
                        <a href="~/productos/detalle/@p.Id">
                            <div class="sucursalInfo"> 
                                <div>               
                                    <div class="card">
                                        <div class="card-header text-white bg-primary text-dark text-center" style="font-family: Raleway,helvetica,arial,sans-serif; font-size: 25px;" >
                                            <strong>@p.Nombre</strong>
                                        </div>
                                    </div>  
                                </div>
                                <div style="text-align:center;">
                                    <img src="@p.Foto" width="300" height="300"><br></br>
                                </div>  
                            </div> 
                        </a>
                    </div>
                }
            </div>
        
    }
</div>
