@{
    var producto = (List<Producto>)ViewBag.p;
    var categoria = (List<Categoria>)ViewBag.c;
}

@model List<Producto>

<div class="container">
    <form asp-action="Index" method="Get">
        <div class="row">
            <div class="col-sm-2.4 mr-4">
                <label>Categoría</label>
                <select name="categoria" id="" class="form-control" style="width:300px;">
                    <option value="0">Seleccionar</option>
                    @foreach (var c in categoria){
                        <option value="@c.Id"> @c.Nombre </option>
                    }
                </select>
            </div> 
            <div class="col-sm-2.4">
                <div style="text-align: center; padding: 15px">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Mostrar</button>
                </div> 
            </div>
        </div>
    </form>
</div>

<div class="text-center">
    <p>
        @TempData["Validacion"]
    </p>  
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <h2>Categorías</h2>
            </div>
        </div>
    </div>
    @if(producto.Count==0){
        <h2 style="color: red" class="text-center">Preparando platillos...</h2>
    } else{
        <div class="BackgroundIndex$$">
            <div class="row">
                @foreach(var p in producto){
                    <div class="margin-top: 10px; margin-bottom:10px;" class="col-sm-3">
                        <div class="producto$$">
                            <a href="~/productos/detalle/@p.Id">
                                <img src="@p.Foto" width="300" height="300"><br></br>
                                <p style="text-align: center">@p.Nombre</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
