@{
var sucursal = (List<Sucursal>)ViewBag.se;
    ViewData["Title"] ="CrustaceoCascaduro-"+ sucursal[0].Nombre;
}
    @if (User.Identity.IsAuthenticated) {

        @model List<Sucursal>
            <div class="container">
                
                    @foreach (var s in sucursal) {
                        <div class="row">
                            <div class="col-md">
                                <div class="card">
                                    <div class="text-white bg-primary text-dark text-center">
                                        <strong style="font-family: Times New Roman, Times, serif;font-size: 40px;">@s.Nombre</strong>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div style="text-align: center">
                                    <img src="@s.Foto" alt="Responsive image" width=250px height=360px>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="datos">
                                    <strong>Dirección:</strong>
                                    <p>@s.Direccion</p>
                                    <strong>Teléfono:</strong>
                                    <p>@s.Telefono</p>
                                    <strong>Correo Electrónico:</strong>
                                    <p>@s.Correo</p>                            

                                </div>
                            </div>
                            <div class="col-sm-4">
                            
                                    <iframe src="@s.DireccionMaps" 
                                    width="300" height="350" frameborder="0" 
                                style="border:0;" allowfullscreen=""></iframe>
                                
                            </div>    
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <div class="mt-2 text-center" style="display: 4;">
                                    <form action="~/Reserva/Reservar" method="get">
                                        <input type="hidden" name="id" value="@s.Id">
                                        <button type="submit" class="btn btn-success" style="font-size: 30px;"> 
                                            RESERVAR 
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                    }
                
            </div>
        }else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
            <img src="~/imagenes/error.png" alt="">
        </div>


        }