@{
    ViewData["Title"] = "Home Page";
    var sucursal = (List<Sucursal>)ViewBag.s;
    var distrito = (List<Distrito>)ViewBag.d; 
}
@model List<Sucursal>

<div class="container">   
        <form asp-action="~/Reservas/Index" method ="GET">
                <div class = "row">
                        <div class="form-group col-sm-4.4 mr-4">
                                <label>Busca tu lugar preferido:</label>
                                <select name="tipo" id="" class="form-control" style="width: 200px;">
                                        <option value="0">--Seleccionar--</option>
                                        @foreach (var d in distrito)
                                        {
                                                <option value="@d.Id">@d.Nombre</option>
                                        }
                                </select>
                        </div> 
                        <div class="col-sm-4.4">
                                <div style="text-align: center; padding: 15px">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Filtrar</button>
                                </div>
                        </div>    
                </div>    
        </form>
</div>
  

<div class="container">
        <div class="row">
                <div class="col-sm">
                        <div class="text-center">
                                <h2>Nuestros restaurantes</h2>
                        </div>
                </div>
        </div>
        @if(sucursal.Count==0){
                <h2 style="color: red" class="text-center">No se encontraron resultados</h2>
        }
        else{
                
                        <div class="row">
                                @foreach (var s in sucursal)
                                {
                                        <div class="col-md-4">
                                                 <a href="~/Reserva/detalles/@s.Id">
                                                        <div class="sucursalInfo">   
                                                        <div>               
                                                                <div class="card">
                                                                        <div class="card-header text-white bg-primary text-dark text-center" style="font-family: Raleway,helvetica,arial,sans-serif; font-size: 25px;" >
                                                                        <strong>@s.Nombre</strong>
                                                                        </div>
                                                                </div>  
                                                                <ul class="about-lista;">  
                                                                        <li class="text-dark">Distrito: </li>
                                                                        <p class="text-dark" style="text-align: center;">@s.Distrito.Nombre</p>
                                                                        <hr>
                                                                </ul>
                                                        </div>
                                                        <div style="text-align:center;">
                                                                <iframe src="@s.DireccionMaps" width="300" height="350" frameborder="0" 
                                                                        style="border:0;" allowfullscreen="">
                                                                </iframe>
                                                        </div>
                                                        </div>
                                                </a>
                                        </div>
                                }
                        </div>
               
        }
</div>



